body {
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 0 20%;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    background-color: rgb(255, 165, 92);
    align-self: center;
}

section {
    width: 80%;
}
